* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  @media (min-width: 1200px) {
    padding: 3rem 12rem;
  }

  >h3 {
    margin: 20px 0;
  }
}

.fullTable {
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  >p {
    column-span: 1;
    border: 1px solid black;
    padding: 6px 10px;
  }
}